.KeyStages4 .KeyOne4 h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
}
.KeyStages4 .KeyOne4 .ContentKeyOne4{
    font-size: 15px;
    margin-bottom: 1rem;
    line-height: 1.5;
    letter-spacing: .5px;
    display: flex;
    gap:2rem;
}
.KeyStages4 .line4{
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background-color: black;
    margin-bottom: 1rem;
}
.KeyStages4 .ContentKeyTwo4{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoLeft4 {
    width: 45%;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoLeft4 .KeyTitleLeft4{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoRight4 .KeyNum4{
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    font-weight: bold;
}
.KeyStages4  .KeyNum4 .nums4{
    font-weight: bold;
    font-size: 50px;
}

.KeyStages4 .ContentKeyTwo4 .KeyTwoLeft4 .KeyTitleLeft4 h4{
    line-height: 1.5;
    letter-spacing: .5px;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoLeft4 p{
    font-size: 15px;
    line-height: 1.3;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoRight4{
    width: 45%;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoRight4 .KeyTitleRight4{
    display: flex;
    align-items: center;
    
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoRight4 {
    position: relative;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoRight4 .shape4{
    width: 300px;
    height: 20px;
    background-color: #84CCD0;
    transform: skew(70deg,0deg);
    position: absolute;    
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoRight4 .DataLeftTwo4 h5{
    margin-bottom: 1rem;
}
.KeyStages4 .ContentKeyTwo4 .KeyTwoRight4 .DataLeftTwo4 p{
    font-size: 15px;
}
.KeyStages4 .KeyThree4{
    position: relative;
}

.KeyStages4 .KeyThree4 .KeyNum4{
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    font-weight: bold;
}
.KeyStages4 .KeyThree4 .shape4{
    width: 100%;
    height: 20px;
    background-color: #84CCD0;
    transform: skew(70deg,0deg);
    position: absolute;
    top: 1rem;    
}
.KeyStages4  .KeyIconsFour4{
    position: relative;
}
.KeyStages4 .KeyIconsFour4 .KeyLineFour4{
    width: 100%;
    height: 1px;
    background-color: #84CCD0;
    position: absolute;
    top: 1.5rem;
}
.KeyStages4  .KeyIconsFour4 .icon4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.KeyStages4  .KeyIconsFour4 .icon4 i{
   border: 1px solid #84CCD0;
   padding: 1rem;
   background-color: white;
   border-radius: 50%;
   z-index: 10;
}
.KeyStages4 .KeyFourData4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.KeyStages4  .KeyFourData4 h5{
    margin-bottom: .5rem;
}
.KeyStages4  .KeyFourData4 p{
    margin-bottom: .5rem;
    font-size: 15px;
}
.KeyStages4 .KeyFive4 .ShapesContainer4{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.KeyStages4 .KeyFive4 .ShapesContainer4 .KeyNumLeft4{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 10;
    width: 45%;
}
.KeyStages4 .KeyFive4 .ShapesContainer4 .KeyNumLeft4 .DataNums{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 10;
    width: 45%;
}
.KeyStages4 .KeyFive4 .ShapesContainer4 .nums4{
    font-weight: bold;
    font-size: 50px;
}
.KeyStages4 .KeyFive4 .ShapesContainer4 .KeyNumRight4{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 10;
    width: 45%;
}
.KeyStages4 .KeyFive4 .ShapesContainer4 .KeyNumRight4 .DataNums{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 10;
    width: 45%;
}
.KeyStages4 .KeyFive4 .ShapesContainer4 .shapeKeyFive4{
    width: 90%;
    height: 20px;
    background-color: #84CCD0;
    transform: skew(70deg,0deg);
    position: absolute;
    top: 1rem; 

}