
.environmental p{
    margin-bottom: 1rem;
    font-size: 14px;
}
.environmental .environmental7Img{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.environmental .environmental7Img img{
    width: 100%;
    height: 100%;
}
.environmental .line7{
    width: 300px;
    height: 1px;
    background-color: gray;
    margin-bottom: 1rem;
}
.environmental h3{
    font-weight: 100;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}
.environmental .advancingDesc7{
    font-size: 13px;
}
.environmental ul li{
    font-size: 13px;
    margin-bottom: .5rem;
}