
.sectionWrapper .logo{
    margin-bottom: 2rem;
}
.logo_image{
    width: 50px;
    height: 50px;
}
.sectionWrapper .content .content_company{
    width: 180px;
    border: 1px solid  var(--main-color);
    padding: .5rem 0 ;
    text-align: center;
    border-radius: .7rem;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
}
.sectionWrapper .content .content_title{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.sectionWrapper .content .content_desc{
    line-height: 1.5;
    letter-spacing: .6px;
    color: var(--paragraph-color);
    margin-bottom: 1rem;
}
.sectionWrapper .content .TitleList{
    margin-bottom: 1rem;
    letter-spacing: .5px;
}
.sectionWrapper .content .listItem .itemContent{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.content .listItem .itemContent .numbersList{
    width: 30px;
    height: 30px;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.content .listItem .itemContent .content_list{
    width: 80%;
}
.content .listItem .itemContent .content_list .itemTitle{
    margin-bottom: .5rem;
    font-size: 15px;    
}
.content .listItem .itemContent .content_list .itemDescEle{
    color: var(--paragraph-color);
}
.sectionWrapper .content .HelpsBtn{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    background: var( --gadiant-color);
    color: white;
    padding:1rem  ;
    border-radius: 2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.sectionWrapper .content .listsItem{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sectionWrapper .content .listsItem .itemList{
   width: 330px;
   border: 1px solid  var(--main-color);
   margin-bottom: 1rem;
   padding:1rem;
   letter-spacing: .5px;
   text-align: center;
}