.Home{

    background: var(--gadiant-color);
    color: white;
    position: relative;
}
.Home p{
    color: white;
}
.Home .content .contentHome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 
.Home .content .contentHome .homeTitle1{
    font-size: 15rem;
    letter-spacing: 2px;
    font-weight: 500;
}
.Home .content .contentHome .homeDesc1{
    letter-spacing: 3px;
    font-size: 20px;
    width: fit-content;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}
.Home .content .contentHome span{
    margin-left: 5rem;
}
.Home .content .footerHome{
    display: flex;
    gap: .5rem;
    letter-spacing: 2px;
    position: absolute;
    bottom: 2rem;
    left: 45%;
    transform: translate(-50%, -50%);
    
}
.Home .content .footerHome p:nth-child(1){
   letter-spacing: 3px;
    
} 
.Home .content .footerHome p:nth-child(2){
    color: aquamarine;

} 
.Home .content .footerHome .MaturityFooter1{
    display: flex;
    flex-direction: column;
    font-size: 10px;
} 