
.social p{
    margin-bottom: 1rem;
    font-size: 14px;
}
.social .social8Img{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.social .social8Img img{
    width: 100%;
    height: 100%;
}
.social .line8{
    width: 300px;
    height: 1px;
    background-color: gray;
    margin-bottom: 1rem;
}
.social h3{
    font-weight: 100;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}
.social .developingDesc8{
    font-size: 13px;
}
.social ul li{
    font-size: 13px;
    margin-bottom: .5rem;
}