<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' http://127.0.0.1:5500 'unsafe-inline' 'unsafe-eval';" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PDF</title>
        <!-- fontAWsome CDN -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="/static/css/style1.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style3.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style4.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style5.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style6.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style7.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style8.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style9.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style10.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style11.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style12.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style13.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style14.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style15.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style16.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style17.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style18.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style19.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style20.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style21.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style22.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style23.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style24.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style25.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style26.css" />
    </head>
    <body>
        <div id="root1"></div>
        <div id="root2"></div>
        <div id="root3"></div>
        <div id="root4"></div>
        <div id="root5"></div>
        <div id="root6"></div>
        <div id="root7"></div>
        <div id="root8"></div>
        <div id="root9"></div>
        <div id="root10"></div>
        <div id="root11"></div>
        <div id="root12"></div>
        <div id="root13"></div>
        <div id="root14"></div>
        <div id="root15"></div>
        <div id="root16"></div>
        <div id="root17"></div>
        <div id="root18"></div>
        <div id="root19"></div>
        <div id="root20"></div>
        <div id="root21"></div>
        <div id="root22"></div>
        <div id="root23"></div>
        <div id="root24"></div>
        <div id="root25"></div>
        <div id="root26"></div>

        <script type="text/javascript" src="/static/js/script1.js"></script>
        <script type="text/javascript" src="/static/js/script2.js"></script>
        <script type="text/javascript" src="/static/js/script3.js"></script>
        <script type="text/javascript" src="/static/js/script4.js"></script>
        <script type="text/javascript" src="/static/js/script5.js"></script>
        <script type="text/javascript" src="/static/js/script6.js"></script>
        <script type="text/javascript" src="/static/js/script7.js"></script>
        <script type="text/javascript" src="/static/js/script8.js"></script>
        <script type="text/javascript" src="/static/js/script9.js"></script>
        <script type="text/javascript" src="/static/js/script10.js"></script>
        <script type="text/javascript" src="/static/js/script11.js"></script>
        <script type="text/javascript" src="/static/js/script12.js"></script>
        <script type="text/javascript" src="/static/js/script13.js"></script>
        <script type="text/javascript" src="/static/js/script14.js"></script>
        <script type="text/javascript" src="/static/js/script15.js"></script>
        <script type="text/javascript" src="/static/js/script16.js"></script>
        <script type="text/javascript" src="/static/js/script17.js"></script>
        <script type="text/javascript" src="/static/js/script18.js"></script>
        <script type="text/javascript" src="/static/js/script19.js"></script>
        <script type="text/javascript" src="/static/js/script20.js"></script>
        <script type="text/javascript" src="/static/js/script21.js"></script>
        <script type="text/javascript" src="/static/js/script22.js"></script>
        <script type="text/javascript" src="/static/js/script23.js"></script>
        <script type="text/javascript" src="/static/js/script24.js"></script>
        <script type="text/javascript" src="/static/js/script25.js"></script>
        <script type="text/javascript" src="/static/js/script26.js"></script>
    </body>
</html>
</html>
